<nav class="navbar  navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://www.pngfind.com/pngs/m/361-3618559_japanese-akita-icon-wrapping-paper-shiba-inu-hd.png" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pet Overall
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('dogs') }}">Dogs</a></li>
              <li><a class="dropdown-item" href="{{ url_for('cats') }}">Cats</a></li>
              <li><a class="dropdown-item" href="#">Other Types</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('data') }}"> Insert Data</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  