{% extends 'index.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-success" role="alert">
        <div>
            {{ message }}
        </div>
    </div>
{% endfor %}
{% if name %}
    <h1> Your Pet Was Updated !</h1>
    <br/><br/>
<table class="table table-dark table-hover table-bordered table-striped">
{% for pet in our_pets %}
    <tr>
    <td>{{ pet[0] }} - {{ pet[1] }} - {{ pet[2] }} - {{ pet[3] }}</td>
    </tr>
{% endfor %}
</table>
{% else %}
    <h1> Update your pet:</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form  action="/update/{{pet[0]}}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(
        class="form-label")}}
        {{ form.name(
        class="form-control", value=pet[1]) }}
        <br/>
        {{ form.age.label(
        class="form-label")}}
        {{ form.age(
        class="form-control", value=pet[2]) }}
        <br/>
        {{ form.type.label(
        class="form-label")}}
        {{ form.type(
        class="form-control", value=pet[3]) }}
        <br/>
        {{ form.submit(class="btn
        btn-dark") }}
    </form>
</div>
<br/><br/><br/>
{% endif %}
{% endblock %}